body{
    background-color: #EAF6F6;   
}
h1{
    color:#4a9999;
}
h3{
    color:#66BFBF
} 
hr{
    border-style: dotted none none;
    background-color: white;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
}